.hero__btn {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.05em;
  background-color: var(--clr-light-blue);
  color: #f1f5f9;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 6px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.hero__btn: {
  transform: scale(2);
}
.hero {
  align-items: center;
}
